<h3> Este proyecto esta siendo desarrollado por: </h3>
<p> Eduardo Cabaleiro Giraldo. Diplomado en Estadistica por la Universidad de Sevilla</p>
<img class="marco" src="/images/fotoautor.png"/>
<p><a href="/">Volver a la pagina principal>>></a></p>