body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
 .clear {
   clear: both;
 }
a:hover{
  color: red;
}



header {
  height: 150px;
  display: block;
  border-bottom: 1px solid grey;
}

#img {
  display: block;  
  float: left;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#img img {
  width: 100%;
  height: 100%;
}

#cabecera h1 {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  top:60%;
  font-size: 3em;
}

#menu {
  list-style-type: none;
}

#menu li {
  padding: 10px;
  float: left;
  margin-right: 3px;
  box-shadow: 2px 2px 5px #999;
  margin-bottom: 30px
}

section {
  padding: 30px;
  box-shadow: 2px 2px 5px #999;
}

footer {
  padding: 30px;
 
}

.marco {
  border: 2px solid black;
}

.derecha {
 padding: 10px;
}