<!DOCTYPE html>
<html>
  <head>
    <title>Respuesta Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="imagen/x-icon"/>
  </head>
  <body>
    <h1>Resultado</h1>
    <p><%= resultado %></p>
    <p><a href=<%= enlace%>><%= mensaje %></a></p>
  </body>
</html>
