<p>Nueva pregunta</p>
<input type="text" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>"/>
<p>Respuesta</p>
<input type="text" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>"/><br><br><br>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">