<h3> Añadir pregunta </h3>
<form method="post" action="/quizes/create">
<p>Nueva pregunta</p>
<input type="text" name="quiz[pregunta]" <%= typeValue %>="<%= quiz.pregunta %>"/>
<p>Respuesta</p>
<input type="text" name="quiz[respuesta]" <%= typeValue %>="<%= quiz.respuesta %>"/>
<p>Tema</p>
<select name="quiz[tema]">
  <option value="Otro" selected>Otro</option>
  <option value="Humanidades">Humanidades</option>
  <option value="Ocio">Ocio</option>
  <option value="Ciencia">Ciencia</option>
  <option value="Tecnologia">Tecnología</option>
</select><br><br><br>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">
</form>