
    <h1>Contesta a la siguiente pregunta</h1>
    <p><%= pregunta %></p>
    <form method="get" action="/quizes/answer">
    	<input type"text" name="respuesta" placeholder="Responde aqui"/>
    	<input type="submit" value="Enviar"/>
	</form>
	<br>
	<p><a href="../">Volver a la pagina principal  >></a></p>

