
<h1> Inicia sesion </h1>
<p>Introduce tu usario y contraseña</p>
<form method="post" action='/login'>
	<table>
	<tr>
	<td><label>Usuario</label></td>
	<td><input type="text" name="login" placeholder="Usuario"/></td>
	</tr>
	<tr>
	<td><label>Contraseña</label></td>
	<td><input type="password" name="pass" placeholder="contraseña"/></td>
	</tr>
	</table>
	<input type="submit" value="Entrar">
</form>